.cfg-text-field {
    width: auto;
    min-width: 500px;
    padding: 5px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}

.cfg-checkbox {
    width: auto;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}

input:focus  {
    border-color: #007bff;
}