.cfg-text-field {
    width: auto;
    min-width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    font-weight: bold;
}

input:focus  {
    border-color: #007bff;
}